@charset "utf-8";

@import url(./reset.css);

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/* body {
    font-weight: 600;
} */

/* ------------------Main style------------------ */
/* ---------------------------------------------- */

main {
    height: 100%;
}

.note-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 100px; */
}

.note-container-box {
    height: 80%;
    width: 70%;
    border-radius: 30px;
    /* padding: 30px; */
    background-color: #141439;
}

.note-box-flex {
    display: flex;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #060611;
    align-items: center;
    height: 60px;
    padding: 0px 40px;
}

.header input {
    background: url(../img/search.png) no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: 15px;
    background-color: #4D4D7A;
    color: #DADAF5;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    width: 250px;
    border-radius: 10px;
    padding: 0px 20px 0px 42px;
}

.fa-circle {
    color: #4D4D7A;
    font-size: 12px;
}

.search-container {
    display: flex;
    align-items: center;
}

.fa-pen-to-square,
.fa-trash-can {
    font-size: 20px;
    cursor: pointer;
}

.fa-pen-to-square {
    margin: 0 20px;
}

.add-note {
    background: transparent;
    color: #7878A9;
    color: #6060D2;
    cursor: pointer;
    font-weight: 500;
}

.note-categories {
    padding: 20px;
    width: 25%;
}

.fa-book {
    color: #3F3F8A;
}

.note-categories-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.note-categories-flex:hover{
    background-color: #282854;
}

.note-categories-flex div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.note-categories-flex > p {
    font-size: 14px;
} 

.selected-category {
    background-color: #282854;
}

.notebooks {
    color: #4D4D7A;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-left: 18px;
}

.note-list {
    background-color: #1B1B42;
    width: 30%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    max-height: calc(100% - 60px);
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    /* box-shadow: inset 0px -10px 22px 2px rgba(20,20,57,0.8);   */
}

.note-list div {
    background-color: #282854;
    border-radius: 10px;
    padding: 16px 0px 16px 22px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.note-list div:hover {
    background-color: #6060D2;
}

.selected-note {
    background-color: #6060D2 !important;
}

.note-title {
    font-weight: 500;
}

.note-date { 
    font-size: 14px;
    padding-top: 2px;
    color: #4D4D7A;
    font-weight: 600;
}

.note-content-wrapper {
    background-color: #282854;
    width: 45%;
    height: calc(100% - 60px);
    padding: 20px;
    border-bottom-right-radius: 30px;
}

.note-content {
    transition: all 0.3s ease-in-out;
}

.note-date-info {
    color: #7878A9;
    font-weight: 500;
    padding-bottom: 12px;
}

.note-title-info {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}

.input-container {
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.input-note-title {
    width: 100%;
    background: transparent;
    color: #DADAF5;
    font-size: 20px;
    font-weight: 600;
    height: 50px;
    resize: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.input-note-description {
   font-size: 15px;
   line-height: 1.5;
   background: transparent;
   color: #DADAF5;
   padding-top: 10px;
   width: 100%;
   height: 76%;
   resize: none;
   margin-bottom: 10px;
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
}

.button-container {
    height: 10%;
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: end;
}

.save-btn, .cancel-btn {
    height: 80%;
    padding: 0 20px;
    border-radius: 4px;
    color: #DADAF5;
    font-weight: 500;
    cursor: pointer;
}

.save-btn {
    background-color: #007AFF;
}

.cancel-btn {
    background-color: #4D4D7A;
}